*{
    box-sizing: border-box;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
}

body{
    background-color: #181818;
    
}
/*kích thước web */
#wrapper{
    
    max-width: 80%;
    position: relative; 
    margin: auto;
	padding: auto;
    height: 1200px;
	overflow: hidden;
}

#header{ 
    position: absolute;
    height: 150px;
    width: 100%;
    display: flex;
    
    
    
    
}

#nav{
    top: 9.9em;
    position: fixed;
    height: 50px;
    width: 78.9%;
    z-index: 1;
    

	
}

#content{
    top: 12.5em;
    position: absolute;
    
    height: 700px;
    width: 100%;
    
    background-color: rgb(54, 54, 54);
}

#footer{
    position: absolute;
    top: 57em;
    height: 300px;
    width: 75%;
    left: 10vw;
}
/*----------------- */
/*header */
#header img{
    width: fit-content;
}
.account{
    position: absolute;
    right: 0%;
    width: 180px;
    height: 35px;
    background: #005678;
    border: 1px solid ;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: -3px 2px 10px 3px  white;
}
.account a{
    padding: 8px 8px;
    text-decoration: none;
    color: #65dc98;
    font-variant: small-caps;
    font-size: larger;
}

.account a:hover{
    color: rgba(24,24,24);
}

/*-----------------*/

/*nav*/

.MenuDes ul {
	position: relative;
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
	justify-content: center;
	letter-spacing: 3px;
	border:none;
	transform: 
	
}
.MenuDes li {
	transition: 400ms;
	transform: skew(-20deg);
	border-left: 2px solid #181818;
	background-color: #181818;

}


.MenuDes li a {
	display: block;
	text-decoration: none;
	padding: 20px 20px;
	text-transform: uppercase;
	transform: skew(20deg);
	color: white;
	line-height: 10px;
	border:none;
	overflow: hidden;


	
}


.MenuDes  li:hover{
	transition: 400ms;
	background-color: #f8f406;
	
}
.MenuDes li a:hover{
	transition: 400ms;
	color: black;
	font-weight: bold;
	
	
}
.MenuDes>ul>li{
    position: relative;
}
.MenuDes ul ul{
    position:absolute;
    left: 2%;
    display:none;
    padding: 0;
    margin: 0;
}
.MenuDes ul ul li {
    transform: none;
    display: block;
    border-top:  1px solid white; 
    padding: 10px 15px;

}
.MenuDes ul ul li a{
    transform: none;
    display: block;
     
    

}
.MenuDes>ul>li:hover>ul{
    display: block;

}

/*-----------------*/
/*content*/
#content{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;   
    justify-content: space-around;

}
#content-inside{
    
   
    height: 50px;
    padding: 0px;
    margin-left: 15px;

}
#content-inside p{
    background-color: yellow;
    width: fit-content;
    text-transform: uppercase;
    font-size: 4em;
    padding: 0px 8px;
    color: black;
    font: 800 46px/53px Roboto, serif;
    transform: skew(-20deg);
}
#content-inside p:hover{
    color: gray
}

/*---------------------*/
/*map*/
.map-container{
    position: relative;
    
    padding-bottom: 75%;
    padding-top: 30px;
    margin: 500px;
    height: 0;
    overflow: hidden;
}
.map-container>iframe{
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
}




/*-----------------*/
/*footer*/

#footer {
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}

.footer2{
    width: 40%;
    text-align: justify;
}
.footer2 p{
	opacity: 0.5;
}
.footer2 a{
	display: block;
	text-decoration: none;
	font-size: 30px;
	padding: 5px;
	background-color:rgb(128, 128, 128);
	border: 1px solid rgb(92, 92, 92);
	text-align: center;
	font-variant: small-caps;
	color:white;
}
.footer2>p{
    padding-left: 10px;

}
.footer2 a:hover{
	color: rgba(236, 122, 28, 0.952);
	transition: .5s;
}

